{% extends 'base.html' %}
 
{% block content %}

<h1 style="text-align: center;">Biceps-Curls</h1>  
<div style="justify-content: center; display: flex; margin-top: 30px;">
    <!-- <img src="{{url_for('bicepCurl_feed')}}" alt="KuchBhi">       --> 
    <div id="div-1" style="border: 2px solid #fc6d6d; width: 640px; height: 480px; margin: 3rem 3rem 3rem 3rem; ">   
        <!-- <iframe id="video-iframe" style="border:2px solid #fc6d6d;" src="/bicepCurl_feed" width="640" height="480"></iframe>  -->
    </div>         
    <div id="div-2"  style="border: 2px solid #fc6d6d; width: 640px; height: 480px; background-color: #000; margin: 3rem 3rem 3rem 3rem;" >     
        <img style="margin-top: 3.5rem;" width="640px" height="360px" src="{{url_for('static',filename='images/gifs/ezgif-2-6976e23002.gif')}}" alt="">      
    </div> 
    <br> 
</div> 
 <br> 
<div id="div-3" style="margin-left: 52rem;">   
    <button id="b1" onclick="closeVideo()">Close video</button> 
    <button id="b1" onclick="openVideo()">Open video</button>      

</div>

  
{% endblock %}

<!--...-->