{% extends 'base.html' %}

{% block content %}

<h2 style="text-align: center;"></h1>
  <br>
  <br>
<div class="wrapper">
    <div class="static-txt">I'm a</div>
    <ul class="dynamic-txt">
      <li><span>Yoga Guru</span></li>
      <li><span>Exercise Monitor</span></li>
      <li><span>Fitness Trainer</span></li>
      <li><span>A complete all-in-one Health and Fitness App...</span></li>
    </ul>
</div>

  <!-- <div style="justify-content: center; display: flex; margin-top: 30px;"><img src="{{ url_for('yoga') }}"></div> -->
  <!-- <button style="background-color : Red" onClick="changeFunction()"> Change</button> -->

  {% endblock %}